.todo-wrapper {
    margin: 50px auto;

    .heading-wrap {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 42px;
        text-align: center;
    }

    .todos-wrap {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}